<% include ../views/common/header.ejs %>
<link rel="stylesheet" href="/feed.css" />

<div class="content-wrapper">
  <div class="content tinyWrap">
    <div class="profile">
      <div class="profile-img-container">
        <img class="profile-img" src="<%=profile_pic_url %>" alt="profile_pic_url" />
      </div>
      <div class="profile-intro">
        <div class="username">
          <h2 class="content-head">
            <span><% if(is_verified == true) { __append("☑️") } if(is_private) { __append("🔒") } %></span>
            <%=id%>
          </h2>
        </div>
        <div class="profile-footer content-minihead">
          <p>molg-tip🐭 비공개 계정의 피드는 나도 못봐 찍찍..🐭</p>
        </div>
      </div>
    </div>
    <div class="pure-g category">
        <a class="pure-u-1-5" href="/story/<%=id%>"><span><i class="fa fa-archive"></i> 스토리</span></a>
        <a class="pure-u-1-5" href="/feed/<%=id%>"><span><i class="fa fa-th"></i> 게시물</span></a>
    </div>
    <div class="pure-g feed-container">
      <%if (!feeds.length) { %>
      <script>
        function back() {
          history.back(-1);
        }
      </script>
      <div class="pure-u" style="width: 100%; text-align: center;">
        <p>
          이런 .... 게시물이 없어 찍찍..🐭<br />
          <input
            class="pure-button"
            value="뒤로가기"
            type="button"
            onclick="back()"
          />
        </p>
      </div>
      <% } feeds.forEach(function(feed){ %>
        <div class="pure-u-sm-1-1 pure-u-md-1-3 is-center feed-wrapper">
          <div class="feed-header">
            <p class="story-title"><%= dayjs.unix(feed.taken_at).format('YY/MM/DD hh:mm:ss') %></p>
          </div>
          <div class="img-container">
            <img 
              class="pure-img feed-img lazyload"
              data-src="<%= feed.thumbnail.url %>"
              onerror="this.src='/images/error.jpg'"
            />
            <div class="overlay">
              <a class="icon feed-modal-btn" title="<%= feed.thumbnail.type %>">
                <% if(feed.media_type === 2) { %>
                  <i class="fa fa-play-circle video" data-url="<%= feed.video_versions[0].url %>"></i>
                <% } else if(feed.media_type === 8) { %>
                  <i class="fa fa-clone carousel" data-carousel-media="<%= feed.carousel_media.map(m => m.url) %>"></i>
                <% } %>
              </a>
            </div>
          </div>
          <div class="pure-g feed-footer">
            <% if(feed.thumbnail.type === 'video') { %>
              <p class="pure-u-1-2"><i class="fa fa-eye"></i><%= feed.view_count %></p>
            <% } else { %>
              <p class="pure-u-1-2"><i class="fa fa-heart"></i><%= feed.like_count %></p>
            <% } %>
              <p class="pure-u-1-2"><i class="fa fa-comment"></i><%= feed.comment_count %></p>
              <div class="pure-u-1 feed-location"><%= feed.location.name %></div>
          </div>
        </div>
      <% }) %>
    </div>   
    <% if(moreAvailable) { %>
      <div class="pure-u-1 more">
        <button id="more" type="button" data-next-max-id="<%=next_max_id%>" data-id="<%=pk%>"><i class="fa fa-chevron-circle-down"></i></button>
      </div>
    <% } %>
  </div>
  <% include ../views/common/footer.ejs %>
</div>
<div id="feed-modal" class="modal-window"></div>
</div>

<script src="/feed.js"></script>